@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(109, 81, 134)
}

div .header {
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 14pt;

}

div .texto {
    text-align: center;
    width: 300px;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div .desenho {
    background-color: rgb(49, 10, 85);
margin-left: 5px;
}

.pai {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
div .desenho:hover{
    transition: all 1s;
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.pai .desenho{
    background-color: rgb(79, 32, 122);

}
@media screen and (max-width:800px) {
    div .desenho{
        margin: 10px;
    }
    .pai {
        display: flex;
        flex-direction: column;
        align-items: center;
}
}